:root{
    --white-transp: #fffcf5d5;
    --white: #fffcf5;
    --black: #363627;
    --accent-color: #F3D9BD;
    --main-color: #cfc4b4;
    --div-padding: 5px;
    --div-margin: 10px;
}

body{
    display: grid;
    background-color: var(--main-color);
}

.contrast-rectangle{
    background-color: var(--black);
    width: 80%;
    height: fit-content;
    padding-bottom: var(--div-padding);
    padding-top: var(--div-padding);
    display: grid;
    overflow: wrap;
    float: center;
    justify-self: center;
    justify-content: center;
}
#index-cr{
    grid-template-rows: repeat(4, 60px);
    grid-template-areas: 
        'head'
        'nav'
        'main'
        'footer';
}

nav{
    grid-area: nav;
    width: 120%;
    justify-self: center;

    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;

    background-color: var(--white-transp);
    padding: var(--div-padding);
    margin: var(--div-margin);
}
nav>a{
    background-color: var(--black);
    color: var(--white);
    padding: var(--div-padding);
}
.nav-icon{
    height: 1em;
    padding-left: 2px;
    padding-right: 5px;
}










footer{
    grid-area: footer;
    width: 120%;
    justify-self: center;

    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;

    background-color: var(--white-transp);
    padding: var(--div-padding);
    margin: var(--div-margin);
}
.footer-icon{
    height: 2em;
}



.circle{
    border-radius: 50%;
}