:root{
    --white-transp: #fffcf5d5;
    --white: #fffcf5;
    --black: #363627;
    --black-transp: #363627e1;
    --accent-color: #F3D9BD;
    --main-color: #cfc4b4;
    --div-padding: .5em;
    --div-margin: 1em;
    --pic-margin: .7em
}

@media (max-width:40em) {
    p,
    a{
        font-size: small;
    }
}
@media (min-width:1180px) {
    .tall{
        max-width: 20em;
    } 
    .news-posts article{
        flex-basis:43%;
    }
    .photo-galery img{
        flex-basis: 45%;
    }
    #contact-info{
        justify-content: space-around;
        padding: 0 3em;
    }
    .section-index{
        flex-basis: 46%;
    }

}
@media (min-width:600px){
 .contrast-rectangle{
        width: 75%;
    }   
}


*{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

body{
    display: grid;
    background-color: var(--main-color);
}
.black-bg{
    background-color: var(--black);
}
.white-bg{
    background-color: var(--white);
}
.accent-bg{
    background-color: var(--accent-color);
}
.white-text{
    color: var(--white);
}


/*-----Contrast rectangle was intented so that I could later
add a pattern or a picture in the background without it
"taking over" */
.contrast-rectangle{
    background-color: var(--black-transp);
    height: fit-content;

    padding: 1em;
    display: grid;
    overflow: wrap;
    float: center;
    justify-self: center;
    justify-content: center;
    gap: 1em;
}
#index-cr{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, fit-content);
    grid-template-areas: 
        'head head'
        'nav nav'
        'content content'
        'footer footer';
}
#about-cr{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, fit-content);
    grid-template-areas: 
        'head head'
        'nav nav'
        'content content'
        'footer footer';
}
/*--------welcome header--------*/
#welcome-header{
    display: grid;
    gap: var(--pic-margin);
    margin-top: var(--div-margin);
    overflow: hidden;
    justify-self: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-area: head;
    min-height: fit-content;
    color: var(--white);
}
#logo{
    align-self: stretch;
    text-align: center;
    color: var(--black);
    background-color: var(--white-transp);
    grid-column-start: 2;
    grid-column-end: 5;
}
.header-pic{
    max-width: 6em;
}

/*-------Nav bar stuff---------*/
nav{
    grid-area: nav;
    width: 120%;
    justify-self: center;

    display: flex;
    gap: .5em;
    align-content: space-between ;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;

    background-color: var(--white-transp);
    padding: var(--div-padding);
    margin: var(--div-margin);
}
nav>a{
    background-color: var(--black);
    color: var(--white);
    padding: var(--div-padding);
    text-align: center;
    align-content: center;
    border-style: ridge;
    border-color: var(--black);
}
.nav-icon{
    height: 1em;
    padding-right: .2em;
    padding: .1em;
    float: left;
}
#here{
    background-color: var(--accent-color);
    color: var(--black);
    border-color: var(--black);
    border-style:ridge;
}
/*-------Content stuff---------*/


content{
    grid-area: content;
    display: flex;
    gap:var(--div-margin);
    flex-wrap: wrap;
    justify-content: center;
}


.news-posts{
    display: flex;
    flex-wrap: wrap;
    
}
.news-posts article{
    padding: var(--div-padding);
    margin:.5em;
}

.wide{
    width: min-content;
}

/*------portfolio specific stuff-----*/
.photo-galery{
    display: flex;
    align-content: center;
}
.photo-galery img{
    min-width: 25em;
}
/*-----------------------------------*/

#contact-info .section{
    max-width: min-content;
}

.white-borders article{
    border-style: solid;
    border-width: .01em;
}

.section{
    min-width: 20em;
    flex-grow: 1;
    padding: var(--div-padding);
    justify-content: center;
    p{
        overflow-wrap: normal;
        padding-right: var(--div-padding);
    }
}
article>h1,
h2{
    text-align: center;
    border-style: mixed;
    border-bottom-style: solid;
    padding-bottom: var(--div-padding);
}
article{
    margin: var(--div-margin);
    padding-right: var(--div-padding);
    display: inline-block;
    gap: 1em;
    height: fit-content;
    justify-self: stretch;
    
}


.section-index article{ 
    display: flex; 
    background-color: var(--accent-color);
    height: fit-content;
}

article img{
    margin: var(--pic-margin)  ;
    max-width: 10em;
    float: left;
    
    object-fit: contain;
}

/*--------------- contact page specific stuff---------------*/
ul{
    padding: var(--div-padding);
    padding-left: 3em;
    
}
#contact-ul li{
    list-style-position: inside;
    list-style-type: none;
    padding-left: 2em;
}
#contact-ul li:nth-child(1){
    background: url(icons/icons8-phone-50.png) 
        no-repeat; 
    background-size: 1.2em;
}
#contact-ul li:nth-child(2){
    background: url(icons/icons8-message-48.png) 
        no-repeat; 
    background-size: 1.2em;
}
#contact-ul li:nth-child(3){
    background: url(icons/icons8-location-50.png) 
        no-repeat; 
    background-size: 1.2em;
}

fieldset{
    padding: 1.5em;
}
input[type=text],
input[type=date]{
    float: right;
}
legend{
    margin-right: auto;
    margin-left: auto;
}

/*-----------------footer stuff---------------*/
footer{
    grid-area: footer;
    width: 120%;
    justify-self: center;

    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;

    background-color: var(--white-transp);
    padding: var(--div-padding);
    margin-bottom: var(--div-margin);
  
}
.footer-icon{
    height: 2em;
}
