:root{
    --white-transp: #fffcf5d5;
    --white: #fffcf5;
    --black: #363627;
    --accent-color: #F3D9BD;
    --main-color: #cfc4b4;
    --div-padding: 5px;
    --div-margin: 10px;
    --pic-margin: 10px
}

*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    display: grid;
    background-color: var(--main-color);
}

.contrast-rectangle{
    background-color: var(--black);
    width: 75%;
    height: fit-content;
    padding: 1em;
    display: grid;
    overflow: wrap;
    float: center;
    justify-self: center;
    justify-content: center;
    gap: 1em;
}
#index-cr{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, fit-content);
    grid-template-areas: 
        'head head'
        'nav nav'
        'content content'
        'footer footer';
}
#about-cr{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, fit-content);
    grid-template-areas: 
        'head head'
        'nav nav'
        'content content'
        'footer footer';
}
/*--------welcome header--------*/
#welcome-header{
    display: grid;
    gap: var(--pic-margin);
    margin-top: var(--div-margin);
    overflow: hidden;
    justify-self: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    
    
    grid-area: head;
    min-height: fit-content;
    color: var(--white);
}
#logo{
    height: 70px;
    align-self: stretch;
    text-align: center;
    color: var(--black);
    background-color: var(--white-transp);
    grid-column-start: 2;
    grid-column-end: 5;
}
.header-pic{
    max-width: 6em;
}

/*-------Nav bar stuff---------*/
nav{
    grid-area: nav;
    width: 120%;
    justify-self: center;

    display: flex;
    gap: 10px;
    align-content: space-between ;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;

    background-color: var(--white-transp);
    padding: var(--div-padding);
    margin: var(--div-margin);
}
nav>a{
    background-color: var(--black);
    color: var(--white);
    padding: var(--div-padding);
    text-align: center;
    align-content: center;
    border-style: ridge;
    border-color: var(--black);
}
.nav-icon{
    height: 1em;
    padding-right: 2px;
    padding: .1em;
    float: left;
}
#here{
    background-color: var(--accent-color);
    color: var(--black);
    border-color: var(--black);
    border-style:ridge;
}
/*-------Content stuff---------*/


content{
    grid-area: content;
    display: flex;
    gap:var(--div-margin);
    flex-wrap: wrap;
    justify-content: center;
}
.white-borders article{
    border-style: solid;
    border-width: .01em;
}
.white-bg{
    background-color: var(--white);
}
.accent-bg{
    background-color: var(--accent-color);
}
.white-text{
    color: var(--white);
}
.section{
    flex-grow: 1;
    padding: var(--div-padding);
    p{
        overflow-wrap: normal;
        padding-right: var(--div-padding);
    }
}
h2{
    text-align: center;
    /*max-width: 330px;     haven't yet managed to have 
                            this without breking
                            the headers' centering.*/

}
article{
    display: inline-block;
    gap: 1em;
    margin: .5em;
}
.section-index{
    width: 343px;
}

.section-index article{
    display: flex;
    background-color: var(--accent-color);
    height: fit-content;
}

article img{
    margin: var(--pic-margin);
    max-width: 150px;
    align-self: center;
    float: left;
}

/*-----------------footer stuff---------------*/
footer{
    grid-area: footer;
    width: 120%;
    justify-self: center;

    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;

    background-color: var(--white-transp);
    padding: var(--div-padding);
    margin-bottom: var(--div-margin);
  
}
.footer-icon{
    height: 2em;
}



.circle{
    border-radius: 50%;
}