.container {
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: repeat(5, 1fr) minmax(100px);
    grid-auto-flow: row;
}
.cv-icon{
    grid-column: span 2;
}
.head-title{
    grid-column: span 2;
}

