.container {
    background-color:antiquewhite;
    display: grid;
    width: minmax(100px, 650px);
    grid-auto-rows: repeat(6, 150px) ;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: row;
    justify-content: center;
    grid-template-areas: 
    'top top'
    'nav nav'
    'aside main'
    'aside main'
    'aside main'
    'footer footer';
}

*{
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
    color: midnightblue;
}

#top{
    display: inline;
    background-color:whitesmoke;
    grid-area: top;
    justify-self: center;
    align-items: baseline;
    margin-top: 20px;
    
}
img.align-left{
    float: left;
    margin:20px;
}


.head-title{}

nav{
    background-color:whitesmoke;
    grid-area: nav;
    justify-self: center;
    padding-left: 30%;
    padding-right: 30%;
    margin-top:20px;
}




aside{
    background-color:whitesmoke;
    grid-area: aside;
    margin: 20px;
    padding-right: 30px;
    padding-left: 15px;
}
aside>ul>li{
    margin-bottom: 1.5em;
}


article{
    background-color:whitesmoke;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.education-and-experience{
    margin-bottom: 20px;
}



footer{
    background-color:whitesmoke;
    grid-area: footer;
    justify-self: center;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 39%;
    padding-right: 39%;
    margin-bottom: 20px;
}
