.container {
/*    max-width: 75% ;*/
    display: grid;
    grid-auto-rows: repeat(6, 150px) ;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: row;
    justify-content: center;
    grid-template-areas: 
    'top top'
    'nav nav'
    'aside main'
    'aside main'
    'aside main'
    'full full'
    'footer footer';
}



*{
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
    color: rgb(17, 63, 163);
}


body{
    background-color:rgb(96, 114, 137);
}

#top{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    align-content: stretch;
    background-color:whitesmoke;
    grid-area: top;
    justify-self: center;
    columns: 2;
    margin-top: 20px;
}
    .align-left{
        float: center;
        margin: 12px;

    }
    .align-right{
        float: center;
        margin: 20px;
    }
    .small{
        height: 70px;
        
        vertical-align: baseline;
    }
    h1{
        float: center;
        text-align: center;
    }



nav{
    background-color:rgb(14, 54, 140);
    grid-area: nav;
    justify-self: center;
    margin-top:20px;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
}
    a{
        padding:10px;
        margin: 5px;
        background-color: whitesmoke;
        color: rgb(17, 63, 163);
    }
    nav>a{
        padding-left: 40px;
        padding-right: 40px;
        background-color: whitesmoke;
        color: rgb(17, 63, 163);
    }
    

aside{
    background-color:whitesmoke;
    grid-area: aside;
    margin: 20px;
    padding-right: 30px;
    padding-left: 15px;
}
aside>ul>li{
    margin-bottom: 1.5em;
}
h2, aside>h3{
    text-align: center;
    padding: 0.5em;
    background-color: black;
    color: aliceblue;
}
#p-references{
    text-align: center;
}



article{
    background-color:whitesmoke;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.education-and-experience, #get-in-touch{
    margin-bottom: 20px;
}
.institution{
    font-style: italic;
}
.job-title{
    padding-top: 1.5em;
}


#get-in-touch{
    grid-area: full;
    margin-left: 20px;
}
legend{
    text-align: center;
}
fieldset{
    line-height: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-input, textarea{
    float: right;
}
label{
    padding-top: 1.5em;
}

#send{
    margin: 20px;
}


footer{
    background-color:rgb(14, 54, 140);
    grid-area: footer;
    justify-self: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 39%;
    padding-right: 39%;
    margin-bottom: 20px;
}
